ul.gallery-preview {
    width: 200px;
    padding: 0;
}
ul.gallery-preview li {
    list-style: none;
    float:left;
    width: 100px;
    height: 60px;
    overflow: hidden;
}
.label-important {
    background-color: #00a65a !important;
}